# Python
__pycache__/
*.pyc
*.pkl

# Archivos pesados en subcarpetas (imágenes, modelos)
events/*
!events/.gitkeep

dataset/*
!dataset/.gitkeep

modelo/*
!modelo/.gitkeep

recognition/*
!recognition/.gitkeep

# Ignora imágenes globales
*.jpg
*.png

# Entornos virtuales
.venv/
env/

# Archivos del sistema
.DS_Store